* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    background-color: rgba(8, 4, 4, 0.884);
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo {
    font-size: 30px;
    color: aliceblue;
    font-weight: bold;
}

.navigation {
    display: flex;
    justify-content: space-around;
}

.navigation a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.navigation a:first-child {
    text-decoration: none;
    color: rgb(240, 8, 8);
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.header {
    background-color: rgb(251, 255, 0);
    padding: 5rem 3rem;
}

.header h1 {
    text-align: center;
    font-size: 50px;
}

.product-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 2rem;
    height: 100%;
    flex-wrap: wrap;
    padding: 70px 90px;
}

.product-container .content {
    width: 300px;
    outline: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.144);
}

.product-items {
    display: flex;
    justify-content: space-between;
}

.product-items .product-name {
    text-align: left;
}

.product-image {
    width: 200px;
    height: 200px;
    /*  */
}

img {
    width: 100%;
}

.product-name {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-price {
    font-size: 16px;
    color: #888;
    margin-bottom: 5px;
}

.product-description {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    text-align: left;
}

.outer {
    display: flex;
}